@import '../variables.scss';

.header {
    height: 100vh;
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;

    #header-cover {
        will-change: background-color;
        animation: rainbow 20s linear infinite alternate;
    }

    .gradient {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #white-left {
        background: radial-gradient(circle at 0% 100%, 
        $black, transparent)
    }

    #white-right {
        background: radial-gradient(circle at 100% 100%, 
        $black, transparent)
    }

    #white-bottom {
        background: linear-gradient(to top, $black, transparent);
    }

    @keyframes rainbow {
        0% {
            background-color: $purple;
        }
        10% {
            background-color: $magenta;
        }
        20% {
            background-color: $blue;
        }
        30% {
            background-color: $cyan;
        }
        40% {
            background-color: $teal;
        }
        50% {
            background-color: $green;
        }
        60% {
            background-color: $lime;
        }
        70% {
            background-color: $yellow;
        }
        80% {
            background-color: $orange;
        }
        90% {
            background-color: $red;
        }
        100% {
            background-color: $purple;
        }
    }

    .header-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 18;
        position: relative;
        margin-top: -30px;
    }

    .text-box {
        margin-top: -5%;
    }

    h1, h2 {
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        text-align: center;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 0px;
        letter-spacing: 1rem;
        margin-left: 14px;
    }

    h2 {
        font-size: 2rem;
        letter-spacing: 0.51rem;
    }

    @media screen and (max-width: 500px) {
        h1 {
            font-size: 2.5rem;
            letter-spacing: 0.8rem;
        }

        h2 {
            font-size: 2rem;
            letter-spacing: 0.8rem;
        }

        .text-box {
            margin-top: -25%;
        }

        .gradient {
            width: 150%;
            left: -25%;
        }

        h1 {
            margin-left: 8px;
        }
    }
}