@import '../variables.scss';

.links {
    margin-left: auto;
    
    a {
        display: inline-block;
        text-decoration: none;
        &:visited {
            color: $black;
        }
    }
}