@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap');

html {
    font-size: 16px;
}

@media screen and (min-width: 1800px) {
    html {
        font-size: 20px;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: $black;

    p, li, a, h1, h2, h3, h4, h5, a {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        color: white;
    }

    p, li {
        line-height: 1.5;
        margin: 1rem 0;
    }

    p {
        margin: 1rem 0;
    }

    h3 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.4rem;
        font-weight: 400;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;

    &.justify-between {
        justify-content: space-between;
    }
    &.align-center {
        align-items: center;
    }
}

.column {
    padding-left: calc(#{$gutter});
    padding-right: calc(#{$gutter});
    &.half {
        flex-basis: calc(50% - #{$gutter});
    }
    &.quarter {
        flex-basis: calc(25% - #{$gutter});
    }
    &.full {
        flex-basis: calc(100% - #{$gutter});
    }
    &.third {
        flex-basis: calc(33% - #{$gutter});
    }
    &.two-thirds {
        flex-basis: calc(66% - #{$gutter});
    }
}

.container {
    padding: 2rem 6rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

$color-collection: ($magenta, $purple, $blue, $cyan, $teal);

@for $i from 0 to length($color-collection) {
    .list-#{$i} {
        &::before {
            color: nth($color-collection, $i+1);
        }
        a {
            &:focus, &:hover, &:visited:hover, &:visited:focus {
                filter: brightness(110%);
                color: nth($color-collection, $i+1);
            }
        }
    }
}

li {
    list-style: none;
}

ul li::before {
    content: "\2022"; 
    float: left;
    margin-top: 3px;
    width: 1rem;
    margin-left: -1rem;
}

ul {
    padding-left: 1.3rem;
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

@media screen and (max-width: 980px) {
    .container {
        padding: 1rem 3.5rem;
    }

    .column.full-width-sm, .column.full {
        flex-basis: calc(100%);
        padding-left: 0px;
        padding-right: 0px;
    }

    .content-column {
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}