@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600&display=swap');

html {
    font-size: 16px;
}


@media screen and (max-width: 980px) {
    html {
        font-size: 12px;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;

    p, li {
        font-weight: 300;
        color: $black;
        line-height: 1.5;
        margin: 1rem 0;
    }

    p {
        margin: 1rem 0;
    }

    h3 {
        font-weight: 300;
        font-size: 1.5rem;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;

    &.justify-between {
        justify-content: space-between;
    }
    &.align-center {
        align-items: center;
    }
}

.column {
    padding-left: calc(#{$gutter});
    padding-right: calc(#{$gutter});
    &.half {
        flex-basis: calc(50% - #{$gutter});
    }
    &.quarter {
        flex-basis: calc(25% - #{$gutter});
    }
    &.full {
        flex-basis: calc(100% - #{$gutter});
    }
    &.third {
        flex-basis: calc(33% - #{$gutter});
    }
    &.two-thirds {
        flex-basis: calc(66% - #{$gutter});
    }
}

.container {
    padding: 2rem 6rem;
}

@media screen and (max-width: 980px) {
    .container {
        padding: 1rem 3.5rem;
    }

    .column.full-width-sm {
        flex-basis: calc(100% - #{$gutter});
    }

    .content-column {
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
    }
}