$a: rgba(93,128,255,0.6);
$b: rgba(75,255,231,0.6);
$c: rgba(151,101,255,0.6);
$d: rgba(207,63,218,0.6);
$e: rgba(34,124,255,0.6);
$f: rgba(180,51,203,0.6);
$g: rgba(75,169,255,0.6);
$h: rgba(250,187,141,0.6);
$i: rgba(217,36,153,0.6);
$j: rgba(125,92,255,0.6);
$k: rgba(46,163,255,0.6);
$l: rgba(75,79,255,0.6);
$m: rgba(124,127,255,0.6);
$n: rgba(166,4,186,0.6);
$o: rgba(143,110,246,0.6);
$p: rgba(110,0,255,0.6);
$r: rgba(255,75,192,0.6);
$s: rgba(77,82,255,0.6);
$t: rgba(4,134,186,0.6);
$u: rgba(128,45,255,0.6);
$v: rgba(140,0,255,0.6);
$w: rgba(255,75,75,0.6);
$x: rgba(120,58,252,0.6);
$y: rgba(255,23,23,0.6);
$z: rgba(255,70,233,0.6);
$aa: rgba(105,149,255,0.6);
$bb: rgba(255,102,75,0.6);
$cc: rgba(252,58,58,0.6);
$dd: rgba(255,23,200,0.6);
$ee: rgba(37,143,255,0.6);