$gutter: 24px;
$purple: rgb(67, 0, 212);
$magenta: rgb(144, 17, 153);
$blue: rgb(15, 65, 139);
$cyan: rgb(1, 189, 202);
$teal: rgb(20, 138, 122);
$green:  rgb(0, 194, 42);
$lime:  rgb(111, 207, 0);
$yellow:  rgb(194, 174, 0);
$orange:  rgb(206, 141, 0);
$red:  rgb(202, 0, 0);
$black: #131313;